.broadcaster {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: 0;
  height: 100px;
  width: auto;  
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px 0 0 10px ;
  background-color: rgb(61, 35, 110);
  font-size: 16px;
  opacity: 1;
  color: white;
  text-shadow: 3px 3px rgba(145, 70, 255, 0.8);
}

.broadcaster .icon {
  color: white;
  font-size: 60px;
  margin-right: 20px;
  filter: drop-shadow(3px 3px rgba(145, 70, 255, 0.8))
}