.clip-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(100, 65, 165);
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.clip-info > h1, .clip-info > h2 {
  color: white;
  font-size: 5em;
}

.clip-info > h1 {
  margin: 10% 0;
  font-size: 6em;
}

.clip-info span {
  color: rgb(233, 172, 92);
}