.clip-info {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  z-index: 1;
  top: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(61, 35, 110);
  text-align: center;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border-radius: 0 10px 10px 0;
  max-width: 60%;
}

.clip-info h2 {
  color: white;
  font-size: 2em;
  font-weight: normal;
  text-shadow: 3px 3px black;
}

.clip-info span {
  color: rgb(233, 172, 92);
}
