.clip-info {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  z-index: 1;
  top: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(100, 65, 165);
  text-align: center;
  width: 30%;
  height: auto;
  margin: 0 auto;
  padding: 30px;
  border-radius: 0 10px 10px 0;
}

.clip-info h2 {
  color: white;
  font-size: 2em;
}

.clip-info span {
  color: rgb(233, 172, 92);
}